extends layout

block body
	h3 My IG Photos

	div
		each photo in photos
			.card.col-md-3.col-sm-6
				img.card-img-top(src= photo.images.low_resolution.url)
				.card-body
					a.card-link(href= photo.link)= photo.link